@font-face {
    font-family: 'Norse-Bold';
    src: url('Norse-Bold.otf');
}

@font-face {
    font-family: 'roboto';
    src: url('Roboto-Regular.ttf');
}

body {
    display: flex;
    /* border: 2px solid black ; */
    justify-content: center;
    font-family: 'roboto';
    font-weight: bold;
    font-size: large;
}

.container {
    flex-direction: column;
    border: 2px solid black ;
    justify-content: center;
}
.left {
    /* border: 2px solid black ; */
    width: 40%;
    height: 100%;


}
.right {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* border: 2px solid black ; */
    width: 60%;
    align-content: center;
    background-color: rgb(247,247,247);

}

.top {
    /* border: 2px solid black ; */
    height: calc(100%/3);
    align-content: end;
    text-align: left;
    padding-left: 4vh;
    padding-right: 20vh;
    padding-bottom: 6vh;
}

fieldset {
    border: 0;
}

legend {
    align-content: left;
    font-size: larger;
    padding-bottom: 2vh;
}

.centre {
    /* border: 2px solid black ; */
    height: calc(100%/3);
    align-content: center;
    text-align: center;
    background-color: white;
    padding-left: 4vh;
    padding-right: 20vh;
}

.outer-container{
    /* border: 2px solid black ; */
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.sub-left, .sub-right {
    /* border: 2px solid black ; */
    display: flex;
    flex-direction: column; 
    width: 50%;
    text-align: left;
    gap: 3vh;
}

.input1, .input3, .input5 {
    /* border: 2px solid black ; */
    display: flex;
    flex-direction: column;
}

.input2, .input4, .input6 {
    /* border: 2px solid black ; */
    display: flex;
    flex-direction: column;
}

.bottom {
    /* border: 2px solid black ; */
    height: calc(100%/3);
    align-content: top;
    text-align: center left;
    padding-left: 4vh;
    padding-right: 20vh;
    padding-top: 3vh;
}

button{
    margin-bottom: 3vh;
    background-color: #596D48;
    color: white;
    font-size: 17px;
    border-radius: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    border: 0;
}

p {
    padding-top: 20px;    
}

input {
    width: 27.5vh;
    height: 2.3vh;
    border-color: rgb(225,225,225);
    border-style: solid;
    border-radius: 3px;
}

label {
    font-size: smaller;
    opacity: 0.7;
}

.bottom > .logIn {
    font-size: medium;
}

a:link {
    color:#596D48;
    text-decoration: none;
}

a:visited {
    color:#596D48;
    text-decoration: none;
  }

.photoCredit a:link {
    text-decoration: none;
    color: white;
    justify-content: center;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.photoCredit a:visited {
    text-decoration: none;
    color: white;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}

.imageContainer img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.odin-container {
    position: absolute;
    width: 40vw;
    height: 8vw;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.odin-container img {
    position: relative;
    align-items: center;
    height: 7vw;
    width: auto
}

.imageContainer > .odin-container > .odin-logo {
    position: relative;
    text-align: center;
    color: white;
    opacity: 1;
    font-size: 6vw;
    font-family: 'Norse-Bold' !important;
}

.photoCredit {
    position: absolute;
    bottom: 10px;
    display: flex;
    color: white;
    justify-content: center;
    font-size: smaller;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}